block-exotic-subdeps=false
only-built-dependencies[]=fd-lock
only-built-dependencies[]=fsctl
only-built-dependencies[]=leveldown
only-built-dependencies[]=re2
only-built-dependencies[]=sodium-native
only-built-dependencies[]=sqlite3
only-built-dependencies[]=utp-native
